# Environment files
**/.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# PyCharm
.idea/
*.iml
.DS_Store

# macOS
.DS_Store

# Markdown files
*.md
!README.md
